#Config file for R1
[defaults]

inventory=./hosts 
stdout_callback = yaml
host_key_checking = False # Don't worry about RSA Fingerprints
retry_files_enabled = False # Do not create them
deprecation_warnings = False # Do not show warnings
interpreter_python = /usr/bin/python3
